<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Host" value="127.0.0.1"/>
    <add key="Port" value="8989"/>
    <!-- 并发连接数量-->
    <add key="BatchSocketCount" value="10"/>
    <!-- 并发之间时间间隔， 秒-->
    <add key="BatchSocketInterval" value="3"/>
    <!-- 最大连接数量-->
    <add key="MaxSocketCount" value="12"/>

    <!-- 发送心跳包时间间隔，秒-->
    <add key="HeartInterval" value="40"/>

    <!-- 是否显示收发的消息，已经socket关闭的信息 0:显示，1：不显示-->
    <add key="IsDebug" value="1"/>

  </appSettings>
</configuration>