<configuration>
  <components>
    <component id="ucloud">
      <parameters>
        
        <!--channelTypeId:注册邮件RegMail = 1,邀请邮件 InviteMail = 2,找回密码OtherMail = 3, 加入协作JoinMail = 4-->
        <!--SendRegVerifyCodeEmail 新用户注册邮件-->
        <template templateTypeId="1" channelTypeId="1" templateName="sdm_e_code_register" />
        <!--SendFindPasswordVerifyCodeEmail 密码找回发送email认证-->
        <template templateTypeId="2" channelTypeId="3" templateName="sdm_e_code_find_password" />
        <!--SendUpdateEmailEmail  发送修改email的认证信息-->
        <template templateTypeId="3" channelTypeId="3" templateName="sdm_e_code_edit_email" />
        <!--SendFriendInvite 邀请邮件好友 -->
        <template templateTypeId="4" channelTypeId="2" templateName="sdm_e_invite_friend" />
        <!--SendProjectInvite -->
        <template templateTypeId="5" channelTypeId="2" templateName="sdm_e_invite_projcet" />
        <!--SendGroupInvite-->
        <template templateTypeId="6" channelTypeId="2" templateName="sdm_e_invite_group" />
        <!--SendTaskInvite-->
        <template templateTypeId="7" channelTypeId="2" templateName="sdm_e_invite_task"  />
        <!--SendTFolderInvite-->
        <template templateTypeId="8" channelTypeId="2" templateName="sdm_e_invite_tfolder" />
        <!--SendCalendarInvite-->
        <template templateTypeId="9" channelTypeId="2" templateName="sdm_e_invite_calendar"  />
        <!--SendKcInvite-->
        <template templateTypeId="10" channelTypeId="2" templateName="sdm_e_invite_folder"  />
        <!-- SendChatInvite-->
        <template templateTypeId="21" channelTypeId="2" templateName ="sdm_e_invite_chat" />
        <!--SendGroupNoticeMsg 协作成员成功后添加通知消息-->
        <template templateTypeId="11" channelTypeId="4" templateName="sdm_e_notice_join_group" />
        <!--SendTaskNoticeMsg-->
        <template templateTypeId="12" channelTypeId="4" templateName="sdm_e_notice_join_task"  />
        <!--SendTFolderNoticeMsg-->
        <template templateTypeId="13" channelTypeId="4" templateName="sdm_e_notice_join_tfolder"  />
        <!--SendCalendarNoticeMsg-->
        <template templateTypeId="14" channelTypeId="4" templateName="sdm_e_notice_join_calendar"  />
        <!--SendKcNoticeMsg-->
        <template templateTypeId="15" channelTypeId="4" templateName="sdm_e_notice_join_kc" />
        <!-- SendChatNoticeMsg-->
        <template templateTypeId ="22" channelTypeId="4" templateName="sdm_e_notice_join_chat"/>

      </parameters>
    </component>
  </components>
</configuration>
