<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SqlServerUrl" connectionString="Server=127.0.0.1; Database=CommunityMPTest; User Id=sa; Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Host" value="127.0.0.1"/>
    <add key="Port" value="8989"/>
    <!-- 并发连接数量-->
    <add key="BatchSocketCount" value="30"/>
    <!-- 并发之间时间间隔， 秒-->
    <add key="ConcurrentInterval" value="0"/>
    <!-- 最大连接数量-->
    <add key="MaxSocketCount" value="100"/>

    <!-- 发送心跳包时间间隔，秒-->
    <add key="HeartInterval" value="40"/>

    <add key="OpenDoorUrl" value="http://www.airtu.me/Rabbit/Rabbit.Server/api/Door/OpenDoor?cUserId=6726&amp;doorId={0}&amp;locationX=31.241005&amp;locationY=121.411453"/>
    <add key="WarningUrl" value="http://115.159.71.54:10102/api/default/SendWarningMsgOne?title={0}&amp;content={1}&amp;remarks=请注意。"/>
    <!-- 是否显示收发的消息，已经socket关闭的信息 0:显示，1：不显示-->
    <add key="IsDebug" value="1"/>
    <!-- 是否需要将受到的信息写入到mongodb 0：需要写入，1：不需要写入-->
    <add key="IsLogMongo" value="1"/>

    <add key="LogUrl" value="mongodb://localhost:27017/Logs"/>
  </appSettings>
</configuration>