<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="Dapper.Extension" version="1.0.0.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net452" />
  <package id="SuperSocket.ClientEngine" version="0.8.0.14" targetFramework="net452" />
  <package id="SuperSocket.ProtoBase" version="1.7.0.17" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
</packages>